<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

    <h1>Welcome to Lyrics Finder</h1>

    <form action="/" method="post">
        <p> Enter a Song Name: </p> <input type="text" name="song">
        <input type="submit">
    </form>
    <br><br>
    Song Name Entered: {{ name }}   <br><br>

    Search Results Are:

    <table>
		{% if list_of_song_names == null %}
				
				print('No songs found')

		{% endif %}
		
		
	{% for names in list_of_song_names %}

            <form action="/giveSongResult", method="POST" >
            <tr>
                <td>  <input type="submit" name="songname" value="{{ names }}">    </td>
            </tr>
            </form>
        {% endfor %}

    </table>
	
	Click a song name to go for the lyrics.

</body>
</html>